@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

.pull-right {
  float: right; }

.wrapper {
  width: 100%;
  min-width: 910px; }
  .wrapper .header {
    max-width: 1023px;
    margin: 30px auto 0; }

.header {
  position: relative; }
  .header .logo {
    position: absolute;
    top: 0;
    left: 20px; }
    .header .logo h1 {
      font: 33px 'Open Sans', sans-serif;
      color: #ee8129; }
    .header .logo span {
      font: 700  40px 'Open Sans', sans-serif;
      color: #3070a8; }

.main-nav {
  font: 600 14px 'Open Sans', sans-serif; }
  .main-nav a {
    display: block;
    color: #989898;
    text-transform: uppercase;
    padding: 30px 20px 33px;
    border-bottom: 4px solid transparent; }
  .main-nav a:hover {
    color: #3070a8;
    border-bottom: 4px solid #3070a8; }

.banner {
  padding: 148px 0 0 0;
  text-align: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background: url(../images/banner.jpg) 0 0 no-repeat;
  background-size: cover;
  background-position-x: center;
  color: #fff; }
  .banner p {
    font-size: 36px; }
  .banner h2 {
    font-size: 50px;
    line-height: 1.1;
    font-weight: 700;
    margin: 10px 0 0 0;
    text-transform: uppercase; }
  .banner span {
    display: block;
    padding: 20px 0 35px 0;
    font-size: 20px;
    line-height: 1.5;
    font-style: italic; }
  .banner .banner-button {
    display: inline-block;
    text-transform: uppercase;
    padding: 16px 64px;
    margin-bottom: 108px;
    font: 600 16px 'Open Sans', sans-serif;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    outline: none;
    cursor: pointer; }
  .banner .banner-button:active {
    box-shadow: 0 0 4px 0px #000 inset;
    border: 1px solid #808080;
    color: #808080; }

.services {
  max-width: 1023px;
  margin: 0 auto 55px; }
  .services h3 {
    text-transform: uppercase;
    text-align: center;
    color: #41525c;
    padding: 59px 0 70px;
    font: 600 30px 'Open Sans', sans-serif; }
  .services .column {
    float: left;
    width: 33%;
    padding: 0 25px; }
    .services .column h4 {
      text-transform: uppercase;
      text-align: center;
      padding: 30px 0 15px;
      font: 400 30px 'Open Sans', sans-serif;
      color: #3070a8; }
    .services .column span {
      font: 400 14px/24px 'Open Sans', sans-serif;
      color: #999;
      display: block;
      text-align: justify; }
  .services .protect::before {
    background: url(../images/protect.png) 0 0 no-repeat; }
  .services .alert::before {
    background: url(../images/alert.png) 0 0 no-repeat; }
  .services .detect::before {
    background: url(../images/detect.png) 0 0 no-repeat; }
  .services .protect::before, .services .alert::before, .services .detect::before {
    content: '';
    display: block;
    width: 46%;
    padding-top: 46%;
    background-size: contain;
    margin: 0 auto; }

.middle-section {
  background: url(../images/middle-section.jpg) 0 0 no-repeat;
  background-size: cover;
  background-position-x: center;
  font-family: 'Open Sans', sans-serif; }
  .middle-section .block {
    max-width: 1023px;
    min-height: 200px;
    margin: 0 auto;
    padding: 77px 15px 60px; }
    .middle-section .block .container {
      width: 70%; }
      .middle-section .block .container h5 {
        font-size: 25px;
        line-height: 1.9;
        font-weight: 600;
        text-transform: uppercase;
        color: #ee8129;
        margin-bottom: 12px; }
      .middle-section .block .container span {
        display: block;
        font-size: 18px;
        line-height: 1.7;
        font-style: italic;
        color: #fff;
        margin-bottom: 38px; }
      .middle-section .block .container ul .list {
        font-size: 14px;
        line-height: 2.2;
        color: #9d9d9d;
        padding-left: 30px;
        padding-bottom: 13px;
        position: relative; }
      .middle-section .block .container ul .selected {
        color: #3070a8; }
      .middle-section .block .container ul .list::before {
        content: '\25CF';
        position: absolute;
        left: 8px; }

/*# sourceMappingURL=all.css.map */
