@import 'reset.css';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700');


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.pull-right {
	float: right;
}

$maxwidth: 1023px;

.wrapper {
	width: 100%;
	.header {
		max-width: $maxwidth;
		margin: 30px auto 0;
	}
}

.header {
	position: relative;
	.logo {
		position: absolute;
		top: 0;
		left: 0;
		h1 {
			font: 
			33px
			'Open Sans', sans-serif;
			color: #ee8129;
		}
		span {
			font:
			700 
			40px
			'Open Sans', sans-serif;
			color: #3070a8;
		}
	}
}

.main-nav {
	font: 
	600
	14px
	'Open Sans', sans-serif;
	a {
		display: block;
		color: #989898;
		text-transform: uppercase;
		padding: 30px 20px 33px;
		border-bottom: 4px solid rgba(0,0,0,0);
	}
	a:hover {
		color: #3070a8;
		border-bottom: 4px solid #3070a8;
	}
}

.banner {
	padding: 148px 0 0 0;
	text-align: center;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background: url(../images/banner.jpg) 0 0 no-repeat;
	background-size: cover;
	background-position-x: center;
	color: #fff;
	p {
		font-size: 36px; 
	}
	h2 {
		font-size: 50px;
		line-height: 1.1;
		font-weight: 700;
		margin: 10px 0 0 0;
		text-transform: uppercase;
	}
	span {
		display: block;
		padding: 20px 0 35px 0;
		font-size: 20px;
		line-height: 1.5;
		font-style: italic;
	}
	.banner-button {
		display: inline-block;
		text-transform: uppercase;
		padding: 16px 64px;
		margin-bottom: 108px;
		font: 
		600
		16px
		'Open Sans', sans-serif;
		background: transparent;
		border: 1px solid #fff;
		color: #fff;
		outline: none;
		cursor: pointer;
	}
	.banner-button:active {
		box-shadow: 0 0 4px 0px #000 inset;
		border: 1px solid #808080;
		color: #808080;
	}
}

.services {
	max-width: $maxwidth;
	margin: 0 auto;
	h3 {
		text-transform: uppercase;
		text-align: center;
		color: #41525c;
		padding: 59px 0 70px;
		font: 
		600
		30px
		'Open Sans', sans-serif;
	}
	.column {
		float: left;
		width: 33%;
		padding: 0 25px;
		h4 {
			text-transform: uppercase;
			text-align: center;
			padding: 30px 0 15px;
			font: 
			400
			30px
			'Open Sans', sans-serif;
			color: #3070a8;
		}
		span {
			font: 
			400
			14px
			'Open Sans', sans-serif;
			color: #999;
			display: block;
			text-align: justify;
		}
	}
	.protect::before {
		background: url(../images/protect.png) 0 0 no-repeat;
	}
	.alert::before {
		background: url(../images/alert.png) 0 0 no-repeat;
	}
	.detect::before {
		background: url(../images/detect.png) 0 0 no-repeat;
	}
	.protect::before, .alert::before, .detect::before {
		content: '';
		display: block;
		width: 46%;
		padding-top: 46%;
		background-size: contain;
		margin: 0 auto;
	}

}



